.registration-page {
  background-color: #e0f7fa; /* Light cyan background color */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-width: 100vw;
}

.registration-form {
  background: #ffffff; /* White background for the form */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Increased shadow for a better effect */
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 350px;
  max-width: 600px; /* Adjust max-width for a wider form */
}

.registration-form input,
.registration-form select,
.registration-form textarea,
.registration-form button {
  margin-bottom: 15px;
  padding: 15px; /* Increased padding for better spacing */
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.registration-form button {
  background: #00796b; /* Teal background for the button */
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.registration-form button:hover {
  background: #004d40;
}
