.form-page {
  background-color: #f7f9fc;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.form {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  max-width: 400px; /* Ensure the form has a max-width */
  margin: 0 auto; /* Center the form horizontally */
}

.form input {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 100%;
}

.form button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #00796b;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
  width: 100%; /* Make the button take the full width of the form */
}

.form button:hover {
  background-color: #004d40;
}

table {
  margin-top: 20px;
  width: 100%;
  max-width: 1000px;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

td {
  vertical-align: top;
}
